@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');
  
  .container{
        width: 80%;
        margin: auto;
    }

    h1,h2{
        text-align: center;
    }

    .mainNav{
        padding: 1rem;
        background-color: blueviolet;
    }

    .navS{
        display: block;
        text-decoration: none;
        color: #fff;
    }
    .mainNav :hover{
       color: rgb(145, 107, 214);
    }

    a{
        text-decoration: none;
    }

    img{
        width: 8%;
    }

    body{
        background-color: rgb(236, 232, 240);
        color: #fff;
        font-family: 'Outfit', sans-serif;
    }

    #construção{
        color: black;
        text-align: center;
    }

    header{
        padding: 10.5rem;
        background-image: url("../img/asets/header.jpg");
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: center center;
        background-size: cover;
        color: rgb(64, 0, 124);
        font-size: 1.5rem;
        background-repeat: no-repeat;
        text-decoration: none;
        text-align: center;
    }

    #escondido{
        color: rgb(230, 228, 231);
    }

    #escondidoL{
        color: rgb(230, 228, 231);
    }

    .txthe{
        font-size: 2em;
    }



